* {
  margin: 0;
  padding: 0;
}

.header_menu {
  width: 500px;
}

.menu-nav.active {
  color: #e65540 !important;
}

.header_icone {
  width: 200px;
}
.header_icone .icone-nav {
  font-size: 40px;
}

.icone-heart {
  border-right: 1px solid #8e8e8e;
}

.panier {
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
}