* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}

.page {
  height: 597px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .cover {
  background-color: white;
  width: 25em;
  height: 30em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page .cover form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page .cover input {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
.page .cover .errermsg {
  color: red;
}
.page .cover .loginbtn {
  width: 200px;
  padding: 10px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
}