.conatact-map{
    width: 500px;
    height: 500px;
    div{
        input{
            outline: none;
        }

    }
    
}
@media (max-width:426px) {
    .conatact-map{
        width: 380px;
        
    }
}
