.carosel-img {
    height: 500px;
}

.cover-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
        font-size: 90px;
    }
}

.card-coming {
    .coming_card {
        width: 240px;
        height: 300px;
        background-position: center;
        background-size: cover;
        transition: all 0.3s;
    }

    .card1 {
        background-image: url("../../layouts/image/img_produit/banner-1.jpg");
    }

    .card2 {
        background-image: url("../../layouts/image/img_produit/banner-2.jpg");
    }

    .card3 {
        background-image: url("../../layouts/image/img_produit/banner-3.jpg");
    }
}
.coming_card:hover {
    transform: scale(1.1);

}
.our_products_text{
    .bottons{
        width: 300px;
        button{
            border: none;
            background-color: transparent;
            margin-bottom: 10px;
        }
        button:hover{
            border-bottom: 1px solid gray;
        }
    }
}
.our_products_img{
    .produit_card{
        height: 300px;
        width: 250px;        
        background-position: center;
        background-size: cover;
        img{
            height: 258px;
        }
        .bg-coleur-span-new{
            top: 5px;
            left: 5px;
            border-radius: 50%;
            padding: 5px 10px;
            font-size: 11px;
        }
    }
    
}
.cov2{
    .titres{
        height: 300px;
        background-position: center;
        background-size: cover;
        background-image: url("../../layouts/image/cov2.png");
       
        h3{
            font-size: 30px;
        }
        h1{
            font-size: 60px;
        }


    }
}













@media (max-width : 769px) {
    .cover-text {
        width: 65%;

        h2 {
            font-size: 70px;
        }
    }

}


@media (max-width : 426px) {
    .carosel-img {
        height: 300px;

    }

    .cover-text {
        h2 {
            font-size: 40px;
        }
    }

    .card-coming {
        .coming_card {
            width: 340px;
            height: 400px;
        }
    }


}