* {
    margin: 0;
    padding: 0;
}
.header_menu {
    width: 500px;
}
.header_icone {
    width: 200px;
    .icone-nav {
        font-size: 30px;
        
    }
}
.icone-heart{
    border-right: 1px solid #8e8e8e;
}